.hero {
  background-color: var(--second-bgc);
  padding-top: 100px;
}

.header-wrap {
  padding-bottom: 40px;
  box-sizing: inherit;
}

.hero-title {
  margin-bottom: 20px;
  line-height: 1;
}

.hero-bgc {
  max-width: 375px;
  margin: 0 auto;
}

.hero-bgc-box {
  position: relative;
}

.hero-bgc-img {
  object-fit: cover;
  aspect-ratio: 375 /370;
  object-position: center;
}

.hero-bgc-box::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.2);
  content: "";
}


@media screen and (min-width: 768px) {
  .hero {
    padding-top: 122px;
  }

  .hero-bgc {
    max-width: 768px;
  }

  .header-wrap {
    padding-bottom: 50px;
  }

  .hero-title {
    margin-bottom: 25px;
    font-size: 76px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 603px;
  }

  .hero-bgc-img {
    aspect-ratio: 768 / 539;
  }
}


@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 0;
    display: flex;
    justify-content: center;
  }

  .hero .container {
    margin: 0;
    padding-top: 238px;
    padding-right: 28px;
    padding-left: 100px;

  }

  .hero-title {
    max-width: 502px;
    margin-bottom: 128px;
  }

  .hero-text {
    max-width: 471px;
  }

  .hero-bgc-img {
    aspect-ratio: 650 / 800;
  }

  .hero-bgc {
    width: 650px;
    margin: 0;
  }

}